# {{ ansible_managed }}

upstream python {
    # proxy pass to host machine;
    # it's quite convinient in development environments while developing web apps in true fastcgi mode (not in php)
    server 10.0.0.1:5000;
}

server {
    listen          80 default_server;

    location / {
        proxy_pass http://python;
    }
}
