<html>
<head>
    <title>flask-app-example</title>
</head>
<body>
<h1><a href="{{ url_for('index') }}">flask-example-app</a></h1>
{% if current_user.is_authenticated %}
    <div>Hello, {{ current_user.username }}!</div>
{% endif %}
<ul>
    {% if current_user.is_authenticated %}
        <li><a href="{{ url_for('signout') }}">sing out</a></li>
    {% else %}
        <li><a href="{{ url_for('signup') }}">sign up</a></li>
        <li><a href="{{ url_for('signin') }}">sing in</a></li>
    {% endif %}
    <li><a href="{{ url_for('posts') }}">posts</a></li>
</ul>
{% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
{% endfor %}
{% block body %}{% endblock %}
</body>
</html>
