{% extends 'layout.j2' %}

{% block body %}
    <form action="{{ url_for('post_new') }}" method="post">
        {{ form.hidden_tag() }}
        {{ form.id }}

        <div>{{ form.text.label }}: {{ form.text(autofocus=true) }}</div>
        {% if form.text.errors %}
            <ul class="errors">
                {% for error in form.text.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <input type="submit" value="Save Post">
    </form>
{% endblock %}
