{% extends 'layout.j2' %}

{% block body %}
    <h2>Posts by @{{ person.username }}</h2>

    {% for post in person.posts %}
        <ul>
            <li>
                <a href="{{ url_for('blogging.post_show', post_id=post.id) }}">{{ post.text|truncate(30) }}</a>
            </li>
        </ul>
    {% else %}
        No posts found.
    {% endfor %}

{% endblock %}
