{% extends 'layout.j2' %}

{% block body %}
    <h2>Posts</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Text</th>
            <th>Username</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <th scope="row">{{ post.id }}</th>
                <td>
                    <a href="{{ url_for('blogging.post_show', post_id=post.id) }}">
                        {{ post.text|truncate(30) }}
                    </a>
                </td>
                <td>@{{ post.person.username }}</td>
                <td>
                    <a href="{{ url_for('blogging.post_show', post_id=post.id) }}">show post</a>
                    {% if post.person_id == current_user.id %}
                        <a href="{{ url_for('blogging.post_edit', post_id=post.id) }}">edit post</a>
                        <a class="text-danger" href="{{ url_for('blogging.post_delete', post_id=post.id) }}">delete post</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ pagination.info }}
    {{ pagination.links }}
{% endblock %}
