{% extends 'layout.j2' %}
{% from 'macro.j2' import form_row_submit %}

{% block body %}
    <h2>Sign In</h2>
    <form action="{{ url_for('auth.signin') }}" method="post">
        {{ form.hidden_tag() }}
        {{ form.id }}

        <div class="form-group row">
            {{ form.username.label(class='col-sm-2 form-control-label text-xs-right', text='Username') }}
            <div class="col-sm-10">
                {{ form.username(autofocus=true, class='form-control') }}
                {% if form.username.errors %}
                    <ul class="text-danger">
                        {% for error in form.username.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>

        <div class="form-group row">
            {{ form.password.label(class='col-sm-2 form-control-label text-xs-right', text='Password') }}
            <div class="col-sm-10">
                {{ form.password(class='form-control') }}
                {% if form.password.errors %}
                    <ul class="text-danger">
                        {% for error in form.password.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>

        {{ form_row_submit('Sign In') }}
    </form>
{% endblock %}
